* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial;
}

h1 {
	color: #ccc;
	background-color: navy;
	padding: 1rem;
	width: 300vw;
}

.slides {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 300vw;
}

.slide {
	background-color: orange;
	outline: 3px solid navy;
	width: 100vw;
	height: 100vh;
}