* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	// transition: ease-in 400ms;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	font-family: arial;
}

h1 {
	color: #ccc;
	background-color: navy;
	padding: 1rem;
	width: 300vw;
}

.slides {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "slide1 slide2 slide3"
						 "slide4 slide5 slide6"
						 "slide7 slide8 slide9";
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 300vw;

	.slide {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12vh;
		background-color: orange;
		outline: 3px solid navy;
		width: 100vw;
		height: 100vh;
		color: navy;
		position: relative;

		a {
			position: absolute;
			bottom: 7rem;
			right: 6rem;
			font-size: 3rem;
			background-color: #aaa;
			text-decoration: none;
			padding: 1rem 1.5rem;
			border-radius: 1rem;
			color, &:active, &:visited, &:link {
				color: #000;
			}
		}
	}
}